<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165998615533-3mjh13squ7un6svk7vi2nbi4360poitn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165998615533-3mjh13squ7un6svk7vi2nbi4360poitn</string>
	<key>API_KEY</key>
	<string>AIzaSyCqjqz95O4PsJ2_qksP_OXNn7lWTBir_pU</string>
	<key>GCM_SENDER_ID</key>
	<string>165998615533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asimcanyagiz.Flickgram</string>
	<key>PROJECT_ID</key>
	<string>flickgram-a9b18</string>
	<key>STORAGE_BUCKET</key>
	<string>flickgram-a9b18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165998615533:ios:ddf75d340b5dafc41125e4</string>
</dict>
</plist>